<div class="container">
  <div class="row">
    <div class="col-xl-8">
      <h2 class="section-headline"><span>Home</span></h2>
    </div>
    <div class="col-xl-4">
      <img src="../../../assets/image/logo.png" class="img-fluid right"
           style=" width: 400px;z-index: 1;">
    </div>
    <img src="../../../assets/image/wood.png" class="img-fluid right"
         style="position: absolute; margin-top: 90px; z-index: -1;">
  </div>
  <hr style="position: absolute;width: 85%; height: 6px;margin-top: -105px; z-index: -1;"/>

  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="pointer">
            <a mat-button routerLink="/bookList">
              <img src="../../../assets/image/bestseller.png" class="img-fluid "/>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="pointer">
            <a mat-button routerLink="/hours">
              <img src="../../../assets/image/hours.png" class="img-fluid "/>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="pointer">
            <a mat-button routerLink="/frq">
              <img src="../../../assets/image/faq.png" class="img-fluid "/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="home-headline"><span>Featured Book</span></div>
    <hr style="margin-top: -20px"/>
  </div>
  <img src="../../../assets/image/shelf.png" class="img-fluid" style="z-index: -1">
  <div class="row" style=" margin:auto; margin-top: -150px;width: 90%; height: 50%;">
    <div class="col-xl-2">
      <img src="../../../assets/image/book1.png" class="img-fluid" style="height: 130px"/>
    </div>
    <div class="col-xl-2">
      <img src="../../../assets/image/book1.png" class="img-fluid" style="height: 130px"/>
    </div>
    <div class="col-xl-2">
      <img src="../../../assets/image/book1.png" class="img-fluid" style="height: 130px"/>
    </div>
    <div class="col-xl-2">
      <img src="../../../assets/image/book1.png" class="img-fluid" style="height: 130px"/>
    </div>
    <div class="col-xl-2">
      <img src="../../../assets/image/book1.png" class="img-fluid" style="height: 130px"/>
    </div>
    <div class="col-xl-2">
      <img src="../../../assets/image/book1.png" class="img-fluid" style="height: 130px"/>
    </div>


  </div>
</div>
