<div class="container">
  <div class="row">
    <div class="col-xl-8">
      <h2 class="section-headline"><span>My Profile</span></h2>
    </div>
    <div class="col-xl-4">
      <img src="../../../assets/image/logo.png" class="img-responsive right" style="width:400px; z-index:1;"/>
    </div>
    <img src="../../../assets/image/wood.png" class="img-responsive right"
         style="position: absolute; margin-top: 90px; z-index: -2;"/>
  </div>
  <hr style="position: absolute;width:85%; height:6px; background-color: #333; z-index:-1; margin-top: -140px;"/>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <table class="table" [mfData]="bookList | dataFilter : filterQuery"
             #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
             [mfSortBy]="sortBy" [mfSortOrder]="sortOrder">
        <thead>
        <tr>
          <th colspan="5">
            <div class="row">
              <div class="col-md-9">
                <mat-form-field>
                  <input matInput placeholder="Filter by Description" [(ngModel)]="filterQuery"/>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Rows on page" [(ngModel)]="rowsOnPage">
                    <mat-option [value]="5">5</mat-option>
                    <mat-option [value]="10">10</mat-option>
                    <mat-option [value]="15">15</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of mf.data">
          <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3">
              <a (click)="onSelectBook(book)" style="cursor:pointer;">
                <img class="img-fluid" src="http://localhost:8080/image/book/{{book.id}}.png"/>
              </a>
            </div>
            <div class="col-md-9">
              <h4 (click)="onSelectBook(book)" style="margin-top:20px; cursor:pointer;">{{book.title}}
              </h4>
              <span>{{book.publicationDate}}</span>
              <p>{{book.author}}</p>
              <a (click)="onSelectBook(book)" style="cursor:pointer;"><span>{{book.format | uppercase}}</span></a>
              <span>{{book.numberOfPages}}</span><span> pages</span>
              <br/>
              <a (click)="onSelectBook(book)"><span style="font-size: x-large; color:#db3208">$<span>{{book.ourPrice | number : '1.2-2'}}</span></span></a>
              <span style="text-decoration:line-through;">$<span>{{book.listPrice | number : '1.2-2'}}</span></span>
              <p>{{book.description | slice:0:500}}</p>
            </div>
          </div>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
